Text/__pycache__/Cleaning.cpython-310.pyc
Text/Raw Datasets/predictions.csv
Text/Raw Datasets/train.csv
Text/Raw Datasets/test_labels.csv
Text/Raw Datasets/sample_submission.csv
Text/Raw Datasets/test.csv
Text/profanity_model.h5
Text/Cleaned Datasets/CleanedTrainingDataset.csv
Text/tokenizer.json
Image/data/sfw
Image/data/porn
Image/sfw_nswf_identifier.h5
Text/__pycache__/__init__.cpython-310.pyc
Image/logs/train/events.out.tfevents.1670080037.DESKTOP-KP9OD0R.10316.0.v2
Image/logs/validation/events.out.tfevents.1670080045.DESKTOP-KP9OD0R.10316.1.v2
Reporte_Alejandro.docx
Reporte_Hector.docx
Reportes_Proyecto_IA_Filtrado.rar
