<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
</head>

<body>
    <h1>Hermes</h1>

    {% if query != None%}

        <img src="{{ query.path }}" alt=" No path ">

        {% if query.prediction > 0.5 %}

            <h3>Appropiate</h3>

        {% endif %}

        {% if query.prediction <= 0.5 %} 

            <h3>Unappropiate</h3>

        {% endif %}

    {% endif%}




        <form class="formHeader" action="/" method="POST">
            <div class="Text">
                <input class="textForm" type="text" name="content" id="content">
                <input class="textForm" type="submit" value="Clasify">
            </div>
            
            <div class="Image">
                <input class="textForm" type="text" name="image_path" id="image">
                <input class="textForm" type="submit" value="submit">
            </div>
        </form>

    {% if text_query != None and text_query != undefined%}
    
        <div class="categoryContainer">
            <div class="category">{{ text_query.content }}</div>
            <div class="category">{{ text_query.toxic }}</div>
            <div class="category">{{ text_query.severe_toxic }}</div>
            <div class="category">{{ text_query.obscene }}</div>
            <div class="category">{{ text_query.threat }}</div>
            <div class="category">{{ text_query.insult }}</div>
            <div class="category">{{ text_query.identity_hate }}</div>
        </div>
        
    {% endif %}
</body>

</html>