<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
</head>

<body>

    <div class="grid">
        <h1 class="header">Project - Hermes</h1>

        <div class="imagePanel">
            <img class="photo" src="../../Image/data/sfw/2-angkor-wat-getty.jpg" alt="" width="400" height="400">
            <!-- <img src="{{ query.path }}" alt=" No path "> -->
            <h3>
                {% if query != None %}

                    {% if query.prediction > 0.5 %}
                        Appropriate
                    {% endif%}
                    {% if query.prediction <= 0.5 %}
                        Unappropriate
                    {% endif %}
                {% endif%}
            </h3>
        </div>

        <div class="textPanel">
            <p class="comment">
                {% if text_query != None %}
                {{ text_query.content }}
                {% endif %}
            </p>

            <div class="category">
                <div class="Number">
                    {% if text_query != None %}
                    {{ text_query.toxic }}
                    {% endif %}
                </div>
                <p class="Tag">Toxic</p>
            </div>
            <div class="category">
                <div class="Number">
                    {% if text_query != None %}
                    {{ text_query.severe_toxic }}
                    {% endif %}
                </div>
                <p class="Tag">Severe Toxic</p>
            </div>
            <div class="category">
                <div class="Number">
                    {% if text_query != None %}
                    {{ text_query.obscene }}
                    {% endif %}
                </div>
                <p class="Tag">Obscene</p>
            </div>
            <div class="category">
                <div class="Number">
                    {% if text_query != None %}
                    {{ text_query.threat }}
                    {% endif %}
                </div>
                <p class="Tag">Threat</p>
            </div>
            <div class="category">
                <div class="Number">
                    {% if text_query != None %}
                    {{ text_query.insult }}
                    {% endif %}
                </div>
                <p class="Tag">Insult</p>
            </div>
            <div class="category">
                <div class="Number">
                    {% if text_query != None %}
                    {{ text_query.identity_hate }}
                    {% endif %}
                </div>
                <p class="Tag">Identity Hate</p>
            </div>
        </div>

        <form class="formHeader" action="/" method="POST">
            
            <div class="Text">
                <input class="textForm" type="text" name="image_path" id="image_path">
                <input class="textForm-btn" type="submit" value="Clasify Image">
            </div>
    
            <div class="Image">
                <input class="textForm" type="text" name="content" id="image">
                <input class="textForm-btn" type="submit" value="Clasify Text">
            </div>
        </form>
    </div>
</body>

</html>